@import './designSystem'

.amusement
  padding: 0 env(safe-area-inset-right) rem(27) env(safe-area-inset-left)
  min-height: calc(100dvh - rem(78))
  font-size: rem(16)

  .loading
    display: flex
    justify-content: center
    align-items: center
    height: calc(100dvh - rem(133))
    font-weight: 700
    color: $hex-accent
    text-align: center

  &.error
    min-height: 0

  .amusement-loading, .amusement-error
    display: flex
    justify-content: center
    align-items: center
    padding-top: rem(27)
    font-weight: 700
    color: $hex-accent
    text-align: center

  .amusement-error
    gap: rem(15)

    button
      background: none
      text-decoration: underline
      color: $hex-accent

  .cover
    display: flex
    align-items: center
    gap: rem(27)
    position: relative
    padding: rem(27) rem(19) rem(72)

    +mq(maxSmall)
      flex-direction: column-reverse

    +mq(minMedium)
      justify-content: space-between

    +mq(minLarge)
      padding: rem(52) rem(52) rem(162)

    +mq(minExtraLarge)
      gap: rem(57)
      padding: rem(102) rem(102) rem(327)

    .background
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

      .images
        position: relative
        width: 100%
        height: 100%

      img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        object-fit: cover
        transition: all .5s cubic-bezier(.4,0,.2,1)

        &.active
          opacity: 1
          z-index: 1

        &:not(.active)
          opacity: 0

      .dummy
        position: absolute
        top: 0
        left: 0
        z-index: 2
        width: 100%
        height: 100%
        background-color: rgba($hex-black, .5)
        backdrop-filter: saturate(180%) blur(rem(70))

    .info, .poster
      position: relative
      z-index: 3

    .info
      display: flex
      flex-direction: column
      gap: rem(7)
      +col
      width: 100%
      color: $hex-light

      h1
        font-size: rem(30)
        font-weight: 800
        color: $hex-white
        line-height: 1.11458333

        &.long
          font-size: rem(20)

        +mq(minSmall)
          font-size: rem(32)

          &.long
            font-size: rem(24)

        +mq(minMedium)
          font-size: rem(48)

          &.long
            font-size: rem(30)

        +mq(minLarge)
          font-size: rem(64)

          &.long
            font-size: rem(32)

        +mq(minExtraLarge)
          font-size: rem(96)

          &.long
            font-size: rem(48)

      .title, .summary
        dt
          +screen-reader-only

      .function
        display: flex
        align-items: flex-start
        gap: rem(17)

        > button
          display: flex
          flex-direction: column
          justify-content: center
          align-items: center
          gap: rem(3)
          background-color: transparent

          i
            display: block
            width: rem(38)
            height: rem(38)

          span
            font-size: rem(14)
            font-weight: 800
            color: $hex-light
            white-space: nowrap

      .title
        display: flex
        flex-direction: column
        gap: rem(5)
        +col
        font-size: rem(14)
        line-height: 1.5

        +mq(minMedium)
          font-size: rem(20)

      .summary
        display: flex
        flex-direction: column
        gap: rem(7)

        .item
          .category
            dd
              display: flex
              gap: rem(7)

              em
                display: inline-flex
                align-items: center
                border: 1px solid $hex-white
                border-radius: rem(3)
                padding: rem(5) rem(7)
                color: $hex-white

                i
                  display: inline-block
                  margin-right: rem(5)
                  height: rem(14)

                  & ~ i
                    margin-left: rem(5)

                span
                  +screen-reader-only

          .country, .release
            dd
              border: 1px solid $hex-white
              border-radius: rem(3)
              padding: rem(5) rem(7)
              color: $hex-white

        .platform
          dd
            display: flex
            align-items: center
            gap: rem(7)
            border: 0
            padding-right: 0
            padding-left: 0
            font-weight: 800

            i
              display: inline-block
              height: rem(18)

        .relation dd
          display: flex
          gap: rem(7)

        .link, .relation
          padding: rem(7) 0

          dd
            border: 0
            border-radius: 0
            padding: 0

          em
            font-style: normal

          select
            width: calc(100% - rem(50))

          a, select, button, em
            background-color: $hex-white
            height: rem(35)
            border: 0
            border-radius: rem(3)
            padding: rem(5) rem(7)
            color: $hex-accent
            font-weight: 800

            +mq(maxExtraSmall)
              font-size: rem(14)

        .item
          display: flex
          flex-wrap: wrap
          gap: rem(7)

          dd
            display: flex
            align-items: center

            +mq(maxExtraSmall)
              font-size: rem(14)

            em
              font-style: normal

          .rating
            dd
              display: flex
              gap: rem(7)
              border: 0
              padding: 0

              > i
                display: inline-flex
                align-items: center
                width: rem(30)
                height: rem(30)
                padding: rem(6) 0 rem(10)
                font-size: rem(16)
                font-weight: 800
                font-style: normal
                line-height: 1
                color: $hex-white

                +mq(maxExtraSmall)
                  width: rem(28)
                  height: rem(28)

                &.drama
                  justify-content: center
                  background-color: #FFCB00
                  border-radius: rem(24)
                  padding: 0
                  color: $hex-black

                  &.all
                    font-size: rem(10)

                    +mq(minSmall)
                      font-size: rem(12)

                  &.d19
                    background-color: #D61D28
                    color: $hex-white

              span
                +screen-reader-only

              .custom
                display: inline-flex

                button
                  background-color: white
                  border: rem(2) solid $hex-accent
                  border-radius: 100%
                  width: rem(20)
                  height: rem(20)
                  text-align: center

                  i::before
                    content: '?'
                    font-size: rem(14)
                    font-weight: 800
                    font-style: normal
                    color: $hex-accent

                  span
                    +screen-reader-only

      .staff
        display: flex
        flex-direction: column
        gap: rem(7)
        padding-top: rem(16)

        +mq(minSmall)
          gap: rem(12)
          padding-top: rem(27)

        div
          display: flex

          dt, dd
            font-size: rem(16)
            line-height: 1.5

            +mq(maxExtraSmall)
              font-size: rem(14)

            +mq(minLarge)
              font-size: rem(20)

          dt
            width: rem(82)

            +mq(minLarge)
              width: rem(112)

          dd
            +col
            font-weight: 800

          &.synopsys
            dt
              +screen-reader-only

            dd
              padding-top: rem(7)
              font-weight: 440

    .poster
      width: rem(370)!important
      text-align: center

      +mq(maxExtraSmall)
        width: 72% !important

      &.poster-game
        width: rem(407)!important

        .images
          aspect-ratio: 460 / 215!important

        img
          aspect-ratio: 460 / 215!important

      &.mv
        width: rem(407)

        .images
          aspect-ratio: 1920 / 1080

      &:not(.mv)
        button
          position: relative
          display: inline-flex
          gap: rem(7)
          background-color: transparent
          margin-top: rem(17)
          border: 1px solid $hex-white
          border-radius: rem(38)
          padding: rem(7) rem(23)
          font-size: rem(20)
          color: $hex-white

          span
            +screen-reader-only

          svg
            width: rem(20)
            height: rem(20)

        .images
          aspect-ratio: 390 / 560
          position: relative

        img
          position: absolute
          top: 0
          left: 0
          display: block
          width: 100%
          height: auto
          aspect-ratio: 390 / 560
          object-fit: cover
          transition: transform .5s cubic-bezier(.4,0,.2,1)
          box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px

          &.active
            z-index: 1

          &:not(.active)
            transform: perspective(600px) rotateY(-180deg)

  .list
    transition: all .4s cubic-bezier(.4,0,.2,1)
    background-color: $hex-black
    display: flex
    position: relative
    margin-top: rem(-57)
    padding: 0 rem(12) rem(27)

    +mq(maxExtraSmall)
      flex-direction: column

    +mq(minSmall)
      flex-wrap: wrap

    +mq(minLarge)
      margin-top: rem(-117)

    +mq(minExtraLarge)
      margin-top: rem(-237)

    &::before
      content: ''
      display: block
      position: absolute
      top: 1px
      left: 0
      z-index: 2
      width: 100%
      height: rem(57)
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%)

      +mq(minLarge)
        height: rem(117)

      +mq(minExtraLarge)
        height: rem(237)

    .warning, .item
      display: flex
      position: relative
      z-index: 7

    .warning
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      gap: rem(7)
      width: 100%
      height: rem(270)

      p
        text-align: center
        font-weight: 800
        line-height: 1.25
        color: $hex-white

        button
          background-color: transparent
          border: 0
          padding: 0
          color: yellow
          font-weight: 800
          text-decoration: underline

    .item
      padding: rem(23) rem(7)

      +mq(minSmall)
        width: 50%

      +mq(minLarge)
        width: 33.33%

      +mq(minExtraLarge)
        width: 25%

      .metaloading
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        padding: rem(15) rem(15) 0
        aspect-ratio: 1920 / 1080
        font-weight: 800
        color: $hex-accent

      .preview
        position: relative

        a
          transition: all .4s cubic-bezier(.4,0,.2,1)
          display: flex
          flex-direction: column
          overflow: hidden
          width: 100%

        &.preview-dummy
          transition: all .4s cubic-bezier(.4,0,.2,1)
          display: flex
          flex-direction: column
          overflow: hidden
          width: 100%

          .skeleton
            background: linear-gradient(90deg, #eeeeee 25%, #dddddd 50%, #eeeeee 75%)
            background-size: 200% 100%
            animation: loading 1.5s infinite

          .notice
            position: absolute
            top: 0
            left: 0
            z-index: 1
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            width: 100%
            height: 100%

            &[hidden]
              +screen-reader-only

            p
              text-align: center
              line-height: 1.25

              button
                background-color: transparent
                border: 0
                padding: 0
                color: $hex-accent
                font-weight: 800
                text-decoration: underline

        .preview-container
          .thumbnail
            .dummy
              aspect-ratio: 1920 / 1080

          .preview-info
            .detail
              .user-info
                > strong
                  width: 100%
                  height: rem(18)

                cite, time
                  height: rem(16)
                  vertical-align: top

                cite
                  > i, &::after
                    display: inline-block

                  i
                    width: rem(72)
                    height: rem(16)

                time
                  width: rem(160)

        .preview-container
          display: flex
          flex-direction: column
          gap: rem(12)

          .thumbnail
            position: relative
            aspect-ratio: 1920 / 1080

            img
              display: block
              border-radius: rem(3)
              aspect-ratio: 1920 / 1080
              object-fit: cover
              width: 100%!important
              height: auto!important

            em
              position: absolute
              right: rem(4)
              bottom: rem(4)
              background-color: $hex-black
              border-radius: rem(4)
              padding: rem(3) rem(4)
              font-size: rem(12)
              font-weight: 700
              font-style: normal
              color: $hex-white
              line-height: 1

          .preview-info
            display: flex
            flex-direction: column

            .detail
              display: flex
              gap: rem(7)

              img
                border-radius: 100%
                width: rem(36)
                height: rem(36)

              .user-info
                display: flex
                flex-direction: column
                gap: rem(4)
                color: $hex-light

                strong
                  +line-abbr(2, 36, 18px)
                  font-size: rem(14)
                  font-weight: 700
                  color: $hex-light

                .user
                  font-size: rem(14)
                  font-weight: 400
                  line-height: 1.175

                  cite, time
                    display: inline-flex
                    align-items: center
                    font-size: rem(14)
                    color: $hex-light

                  cite
                    &::after
                      content: '•'
                      padding: 0 rem(4)
                      font-size: rem(14)
                      color: $hex-light

                .option
                  display: flex
                  gap: rem(12)

                  strong
                    display: inline-flex
                    background-color: $hex-accent
                    border-radius: rem(3)
                    padding: rem(3) rem(5)
                    font-size: rem(12)
                    font-weight: 800
                    text-transform: uppercase
                    color: $hex-white

@keyframes loading
  0%
    background-position: 200% 0

  100%
    background-position: -200% 0
