@import './designSystem'

main.amusement + footer.footer
  background-color: $hex-black

  .container
    p
      color: $hex-white

      &.copyright
        strong
          color: $hex-azalea

      &.copyrights
        color: $hex-azalea

      &.scp
        color: rgba($hex-light, .7)

footer.footer
  background-color: rgba($hex-white, .7)
  width: 100%
  padding: rem(72) calc(env(safe-area-inset-right) + rem(19)) calc(env(safe-area-inset-bottom) + rem(23)) calc(env(safe-area-inset-left) + rem(19))

  .container
    display: flex
    flex-direction: column
    gap: rem(23)
    width: 100%
    font-size: rem(14)
    font-weight: 800

    p
      &.copyright
        strong
          font-weight: 800
          color: $hex-accent

        span
          +mq(maxExtraSmall)
            +screen-reader-only

      &.copyrights
        color: rgba($hex-accent, .7)

      &.scp
        color: rgba($hex-dark, .7)

      &.copyrights, &.scp
        display: flex
        flex-direction: column
        gap: rem(7)
        font-size: rem(12)
        line-height: 1.66666667
