@import './designSystem'

*, ::before, ::after
  box-sizing: border-box

\::selection
  background-color: $hex-azalea
  color: $hex-white

html
  font-size: 16px

body
  margin: 0
  font-size: 16px
  word-break: keep-all
  -webkit-text-size-adjust: none
  transition: all .4s cubic-bezier(.4,0,.2,1)

body, pre, input, button, textarea, select
  font-size: 1rem
  font-weight: 400
  font-optical-sizing: auto
  font-feature-settings: normal
  font-stretch: 100%
  text-size-adjust: 100%
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased

body
  background-color: $hex-white

h1, h2, h3, h4, h5, h6
  margin-top: 0
  margin-bottom: 0

img
  +image-rendering
  user-drag: none

a
  text-decoration: none
  -webkit-tap-highlight-color: rgba(255,255,255,.10)

fieldset
  margin: 0
  padding: 0

legend
  position: absolute
  overflow: hidden
  margin: 0
  width: 1px
  height: 1px
  clip: rect(1px, 1px, 1px, 1px)

label
  cursor: pointer

img, fieldset
  border: 0

p, ul, dl, pre
  margin-top: 0
  margin-bottom: 0

ul, ol
  margin-top: 0
  margin-bottom: 0
  padding-left: 0
  list-style-type: none

dd
  margin-left: 0

button
  cursor: pointer
  border: 0
  padding: 0

figure
  margin: 0

address, cite
  font-style: normal

iframe
  display: block

a, button, select, input
  user-select: none

main
  margin-top: calc(env(safe-area-inset-top) + rem(78))

.top-link
  position: fixed
  top: calc(env(safe-area-inset-top) + rem(23))
  left: calc(env(safe-area-inset-left) + rem(17))
  z-index: 1050

  a, button
    background-color: transparent
    transition: border .4s cubic-bezier(.4,0,.2,1)
    display: inline-flex
    align-items: center
    gap: rem(5)
    padding: 0 rem(5)
    height: rem(23)

    +mq(minSmall)
      height: rem(32)

    i
      transition: transform .4s cubic-bezier(.4,0,.2,1)
      width: rem(23)
      height: rem(23)

      +mq(minSmall)
        width: rem(32)
        height: rem(32)

    span
      transition: color .4s cubic-bezier(.4,0,.2,1)
      font-size: rem(20)
      font-weight: 700
      line-height: 1
      color: $hex-dark

      +mq(maxExtraSmall)
        +screen-reader-only

    &:hover, &:focus
      i
        transform: translateX(rem(-5))

      span
        color: $hex-black

.scrollbar-container
  position: relative
  height: 100%

.headline
  display: flex
  justify-content: flex-start
  background-color: $hex-dark
  padding: rem(37) calc(env(safe-area-inset-right) + rem(12)) rem(17) calc(env(safe-area-inset-left) + rem(12))

  +mq(maxSmall)
    flex-direction: column
    align-items: flex-start
    gap: rem(27)

  +mq(minMedium)
    justify-content: space-between
    align-items: flex-end
    padding: rem(52) calc(env(safe-area-inset-right) + rem(12)) rem(27) calc(env(safe-area-inset-left) + rem(12))

  &.without-select
    flex-direction: column
    align-items: flex-start
    gap: rem(12)

    p
      color: $hex-light

  h1, h2
    font-size: rem(20)
    font-weight: 800

    +mq(minMedium)
      font-size: rem(24)

  h1
    em, span
      vertical-align: sub
      line-height: 1.25

    em
      font-size: rem(32)
      font-style: normal
      color: $hex-light

    span
      padding-left: rem(12)
      font-size: rem(14)
      font-weight: 800
      color: $hex-azalea
      white-space: nowrap

      +mq(minMedium)
        font-size: rem(16)

    strong
      display: block
      margin-top: rem(7)
      font-size: rem(16)
      font-weight: 800
      color: $hex-white

  h2
    a
      color: $hex-dark
      line-height: 1.42857143

      &:hover, &:focus
        color: $hex-accent

      span
        white-space: nowrap

  .select
    display: flex
    gap: rem(7)

    select, button
      background-color: $hex-white
      border: 1px solid rgba($hex-black, .7)
      border-radius: rem(3)
      padding: rem(3) rem(7)
      font-weight: 800

      +mq(maxSmall)
        font-size: rem(14)

  > a
    display: inline-flex
    align-items: center
    font-weight: 800
    color: $hex-dark

    +mq(maxSmall)
      font-size: rem(14)

    &:hover, &:focus
      span
        border-bottom: 0
        color: $hex-accent
        border-bottom: rem(2) solid $hex-accent

      svg
        path
          fill: $hex-accent

    svg
      display: inline-block
      width: rem(24)
      height: rem(24)

    +mq(maxSmall)
      span
        +screen-reader-only

.slick-slider
  .slick-track
    > div > div, > div > div > div, > div > div > div a
      aspect-ratio: 590 / 650

      +mq(minSmall)
        aspect-ratio: 1180 / 650

    .slick-slide
      width: 100%

      +mq(minSmall)
        padding: 0 rem(12)
        width: 72%
