@import './designSystem'

.main
  padding: 0 0 rem(102)
  min-height: calc(100dvh - rem(78))
  font-size: rem(16)

  +mq(maxExtraSmall)
    margin-top: 0

  .loading, .error
    display: flex
    justify-content: center
    align-items: center
    padding: 0 calc(env(safe-area-inset-right) + rem(12)) 0 calc(env(safe-area-inset-left) + rem(12))
    height: calc(100dvh - rem(133))
    font-weight: 700
    color: $hex-accent
    text-align: center

  .error
    gap: rem(15)

    button
      background: none
      text-decoration: underline
      color: $hex-accent

  .content, .review-content
    .headline
      display: flex
      align-items: center
      justify-content: space-between
      gap: rem(7)
      padding: rem(52) calc(env(safe-area-inset-right) + rem(12)) rem(17) calc(env(safe-area-inset-left) + rem(12))

      +mq(minMedium)
        justify-content: flex-start
        gap: rem(27)

      h1, h2
        font-size: rem(20)
        font-weight: 800

        +mq(minMedium)
          font-size: rem(24)

      h1
        em
          font-size: rem(32)
          font-style: normal
          line-height: 1.25
          color: $hex-light

        span
          font-size: rem(14)
          font-weight: 800
          color: $hex-azalea
          white-space: nowrap

          +mq(minMedium)
            font-size: rem(16)

        strong
          display: block
          margin-top: rem(7)
          font-size: rem(16)
          font-weight: 800
          color: $hex-white

      h2
        a
          color: $hex-dark
          line-height: 1.42857143

          &:hover, &:focus
            color: $hex-accent

          span
            white-space: nowrap

      > a
        display: inline-flex
        align-items: center
        font-weight: 800
        color: $hex-dark

        +mq(maxSmall)
          font-size: rem(14)

          span
            +screen-reader-only

        &:hover, &:focus
          span
            color: $hex-accent
            border-bottom: 0

          svg
            display: inline-block
            width: rem(24)
            height: rem(24)

            path
              fill: $hex-accent

  .content
    .banners
      position: relative
      margin-bottom: rem(52)

      a
        position: relative
        display: block
        overflow: hidden
        border-radius: rem(12)

        .summary
          position: absolute
          z-index: 1
          bottom: 0
          left: 0
          display: flex
          flex-direction: column
          padding: rem(17)

          +mq(minSmall)
            padding: rem(23)

          +mq(minLarge)
            padding: rem(37)

          p
            font-size: rem(24)
            font-weight: 800
            letter-spacing: -.07em

            +mq(minSmall)
              font-size: rem(24)

            +mq(minMedium)
              font-size: rem(32)
              letter-spacing: -.05em

            +mq(minLarge)
              font-size: rem(37)

          em
            font-size: rem(14)
            font-style: normal
            font-weight: 500

            +mq(minLarge)
              font-size: rem(16)

        .semo
          position: absolute
          bottom: 0
          left: 0
          width: 100%
          aspect-ratio: 1180 / 267

          div
            &:nth-of-type(1)
              aspect-ratio: 1180 / 157

            &:nth-of-type(2)
              aspect-ratio: 1180 / 110

              +mq(minSmall)
                opacity: .9

      .paging
        position: absolute
        bottom: rem(-37)
        left: 50%
        transform: translateX(-50%)
        display: flex
        align-items: center

        .stat
          margin-right: rem(12)
          background-color: transparent
          width: rem(22)
          height: rem(23)

          +mq(minSmall)
            width: rem(32)
            height: rem(32)

          i
            display: inline-block
            width: rem(23)
            height: rem(22)

            +mq(minSmall)
              width: rem(32)
              height: rem(32)

          span
            +screen-reader-only

        .pager
          display: flex
          justify-content: center
          align-items: center
          background-color: transparent
          width: rem(23)
          height: rem(23)

          +mq(minSmall)
            width: rem(32)
            height: rem(32)

          &.active
            i
              opacity: 1
              width: rem(23)

              +mq(minSmall)
                width: rem(32)

          i
            display: block
            opacity: .2
            transition: all .5s cubic-bezier(.4,0,.2,1)
            background-color: $hex-dark
            border-radius: rem(3)
            width: rem(7)
            height: rem(7)

            +mq(minSmall)
              border-radius: rem(6)
              width: rem(12)
              height: rem(12)

          span
            +screen-reader-only

      .move
        background-color: transparent
        position: absolute
        bottom: rem(-37)
        height: rem(23)

        +mq(minSmall)
          top: 0
          width: 13.4%
          height: 100%

        i
          display: inline-block
          width: rem(23)
          height: rem(23)

          +mq(minSmall)
            width: rem(72)
            height: rem(72)

          +mq(minLarge)
            width: rem(102)
            height: rem(102)

        span
          +screen-reader-only

        &.prev
          left: rem(15)

          +mq(minSmall)
            background: linear-gradient(90deg, rgba($hex-white, .5) 0%, rgba($hex-white, 1) 100%)
            left: 0

        &.next
          right: rem(15)

          +mq(minSmall)
            background: linear-gradient(-90deg, rgba($hex-white, .5) 0%, rgba($hex-white, 1) 100%)
            right: 0

    section
      display: flex
      flex-wrap: wrap
      gap: rem(12)
      padding: 0 env(safe-area-inset-right) 0 calc(env(safe-area-inset-left) + rem(12))

      +mq(minMedium)
        padding: 0 env(safe-area-inset-right) 0 calc(env(safe-area-inset-left) + rem(12))

      &.game
        a
          width: calc(50% - rem(12))

          +mq(minSmall)
            width: calc(50% - rem(12))

          +mq(minMedium)
            width: calc(33.33% - rem(12))

          +mq(minLarge)
            width: calc(25% - rem(12))

          +mq(minExtraLarge)
            width: calc(20% - rem(12))

          +mq(maxSmall)
            &:nth-of-type(3)
              display: none

          +mq(maxMedium)
            &:nth-of-type(4)
              display: none

          +mq(maxLarge)
            &:nth-of-type(5)
              display: none

          +mq(maxExtraSmall)
            &:nth-of-type(3), &:nth-of-type(4)
              display: flex

      a
        display: flex
        flex-direction: column
        gap: rem(7)
        padding-bottom: rem(12)
        width: calc(33.33% - rem(12))
        font-size: rem(14)

        +mq(minSmall)
          width: calc(25% - rem(12))

        +mq(minMedium)
          width: calc(20% - rem(12))

        +mq(minLarge)
          width: calc(16.66666667% - rem(12))

        +mq(minExtraLarge)
          width: calc(14.28571429% - rem(12))

        +mq(maxSmall)
          &:nth-of-type(5)
            display: none

        +mq(maxMedium)
          &:nth-of-type(6)
            display: none

        +mq(maxLarge)
          &:nth-of-type(7)
            display: none

        +mq(maxExtraSmall)
          &:nth-of-type(5), &:nth-of-type(6)
            display: flex

        &:hover, &:focus
          > div img
            transform: scale(1.07)

          strong
            color: $hex-accent

        strong
          color: $hex-dark
          white-space: normal
          word-break: keep-all
          word-break: normal
          line-height: 1.25
          letter-spacing: -.07em
          font-weight: normal
          transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1) 0s

          span
            font-variation-settings: 'opsz' 700, 'wght' 700

          cite
            display: block
            font-size: rem(14)
            color: $hex-accent

          +mq(minMedium)
            font-size: rem(16)

  .review-content
    section
      display: flex
      transition: all .4s cubic-bezier(.4,0,.2,1)

      +mq(maxExtraSmall)
        flex-direction: column

      +mq(minSmall)
        flex-wrap: wrap

    .item
      display: flex
      padding: 0 rem(10) rem(20)

      +mq(minSmall)
        width: 50%

      +mq(minLarge)
        width: 33.33%

      +mq(minExtraLarge)
        width: 25%

      +mq(maxMedium)
        &:nth-of-type(3)
          display: none

      +mq(maxLarge)
        &:nth-of-type(4)
          display: none

      +mq(maxExtraSmall)
        &:nth-of-type(3), &:nth-of-type(4)
          display: flex

@keyframes loading
  0%
    background-position: 200% 0

  100%
    background-position: -200% 0
