@import './designSystem'

.jejeup
  display: flex
  justify-content: center
  gap: rem(25)
  padding: rem(15) calc(env(safe-area-inset-right) + rem(15)) rem(57) calc(env(safe-area-inset-left) + rem(15))

  +mq(minLarge)
    padding: rem(15) calc(env(safe-area-inset-right) + rem(25)) rem(72) calc(env(safe-area-inset-left) + rem(25))

  .loading, .error
    display: flex
    flex: 1
    align-items: center
    color: $hex-accent

  .error
    gap: rem(15)

  article
    display: flex
    flex-direction: column
    max-width: rem(1280)
    width: 100%

    .preview
      &.preview-dummy
        .skeleton
          background: linear-gradient(90deg, #eeeeee 25%, #dddddd 50%, #eeeeee 75%)
          background-size: 200% 100%
          animation: loading 1.5s infinite

        .dummy
          border-radius: rem(12)
          aspect-ratio: 1920 / 1080

        .youtube
          h1
            width: 77%
            height: rem(28)

          .detail
            .avatar
              border-radius: 100%
              width: rem(40)
              height: rem(40)

            .user
              cite
                margin-bottom: rem(4)
                width: rem(72)
                height: rem(20)

              time
                width: rem(137)
                height: rem(16)

          .nomore
            font-size: rem(16)
            line-height: 1.25

            button
              background-color: transparent
              border: 0
              padding: 0
              color: $hex-accent
              font-weight: 800
              text-decoration: underline

      .youtube
        padding: rem(12) 0 rem(24)

      h1
        font-size: rem(20)
        font-weight: 700
        line-height: 1.4

        +mq(maxExtraSmall)
          font-size: rem(16)

      .video
        position: relative

      .detail
        display: flex
        gap: rem(12)
        margin: rem(12) 0

        img
          border-radius: 100%
          width: rem(40)
          height: rem(40)

        .user
          display: flex
          flex-direction: column
          justify-content: center

          cite
            font-size: rem(16)
            font-weight: 700
            line-height: 1.375

          time
            font-size: rem(12)
            line-height: 1.5

      .worst
        padding-bottom: rem(3)

        strong
          display: inline-flex
          background-color: $hex-accent
          border-radius: rem(3)
          padding: rem(3) rem(5)
          font-size: rem(12)
          font-weight: 800
          text-transform: uppercase
          color: $hex-white

      .learnmore
        background-color: rgba($hex-black, .05)
        border-radius: rem(12)
        padding: rem(12)
        font-size: rem(14)
        font-weight: 500
        word-break: break-word
        line-height: 1.42857143

        em
          display: block
          border: $hex-black
          padding-bottom: rem(12)
          font-size: rem(14)
          font-weight: 700
          font-style: normal
          line-height: 1
          color: $hex-accent

        strong
          color: $hex-accent

        dl
          display: flex
          flex-direction: column

          &:first-of-type
            margin-top: rem(12)

          dt
            white-space: nowrap
            font-weight: 800

          dd
            +col

            a
              font-weight: 800
              color: $hex-accent
              text-decoration: underline

    .figcaption
      display: flex
      flex-direction: column
      gap: rem(12)
      overflow: hidden

      .worst
        padding-bottom: rem(7)

        dt
          +screen-reader-only

        dd
          font-size: rem(12)
          font-weight: 900
          color: $hex-accent

    .title
      .function
        display: flex
        gap: rem(17)
        align-items: center
        padding: rem(7) 0

        button, a
          display: flex
          align-items: center
          gap: rem(6)
          height: rem(36)
          background-color: rgba($hex-black, .1)
          border-radius: rem(36)
          padding: 0 rem(16)
          font-size: rem(14)
          font-weight: 800
          color: $hex-black
          line-height: 1

          i
            display: inline-block
            width: rem(24)
            height: rem(24)

      .title-container
        overflow: hidden

      .title-list
        display: grid
        grid-auto-flow: column
        grid-auto-columns: 75%
        gap: rem(12)

        +mq(minMedium)
          grid-auto-columns: 65%

        +mq(minLarge)
          grid-auto-columns: 45%

        .title-info
          .info-container
            flex-grow: 1

      .title-item
        padding-bottom: rem(23)

        .poster
          width: calc(50% - rem(6))

      .title-list, .title-item
        .title-info
          display: flex
          flex-direction: column
          gap: rem(17)
          width: 100%

        .summary
          display: flex
          flex-direction: column
          gap: rem(7)

          dt
            display: flex
            flex-wrap: wrap
            gap: rem(7)
            line-height: rem(24)

            cite
              display: inline-flex
              align-items: center
              height: rem(24)
              font-size: rem(14)
              font-weight: 800
              font-style: normal
              color: $hex-accent

              i
                display: inline-block
                margin-right: rem(7)
                height: rem(16)

            em
              display: inline-flex
              align-items: center
              height: rem(24)
              border: 2px solid $hex-accent
              border-radius: rem(3)
              padding: rem(3) rem(5)
              font-size: rem(14)
              font-weight: 700
              line-height: 1
              font-style: normal
              color: $hex-accent
              vertical-align: top

              &.ENA
                border-color: #3B31E0
                color: #3B31E0

              &.JTBC
                border-color: #F0047F
                color: #F0047F

              &.KBS2
                border-color: #FAB700
                color: #FAB700

              &.MBC
                border-color: #42515E
                color: #42515E

              &.OCN
                border-color: #FFB514
                color: #FFB514

              &.SBS
                border-color: #005A91
                color: #005A91

              &.tvN
                border-color: #FA0029
                color: #FA0029

              i
                display: inline-block
                margin-right: rem(5)
                height: rem(14)

                & ~ i
                  margin-left: rem(5)

              span
                +screen-reader-only

              & + i.rating
                vertical-align: top

            > i
              display: inline-flex
              width: rem(24)
              height: rem(24)
              padding: rem(6) 0 rem(10)
              font-size: rem(12)
              font-weight: 800
              font-style: normal
              line-height: 1
              color: $hex-white

              &.drama
                background-color: #FFCB00
                border-radius: rem(24)
                color: $hex-black
                justify-content: center

                &.all
                  font-size: rem(10)

                &.d19
                  background-color: #D61D28
                  color: $hex-white

              &.rating
                padding: 0
                vertical-align: bottom

              &.drama + span,
              &.rating + span
                +screen-reader-only

            .custom
              display: inline-flex
              align-items: center

              button
                background-color: transparent
                border: rem(2) solid $hex-accent
                border-radius: 100%
                width: rem(20)
                height: rem(20)

                i::before
                  content: '?'
                  font-size: rem(14)
                  font-weight: 800
                  font-style: normal
                  color: $hex-accent

                span
                  +screen-reader-only

            a
              display: inline-flex
              height: rem(24)
              border: 2px solid $hex-black
              border-radius: rem(3)
              padding: rem(3) rem(5)
              font-size: rem(14)
              font-weight: 700
              line-height: 1
              font-style: normal
              color: $hex-black
              vertical-align: top

          dd
            padding-top: rem(3)

            strong
              display: flex
              flex-direction: column
              line-height: 1.125
              color: $hex-dark

              +mq(maxExtraSmall)
                gap: rem(2)

              +mq(minSmall)
                line-height: rem(20)

              span
                font-size: rem(14)
                font-weight: 600
                color: rgba($hex-dark, .5)

                &.title
                  margin-bottom: rem(5)
                  font-size: rem(20)
                  font-weight: 800
                  color: $hex-dark

                &[lang="en"], &[lang="ko"]
                  font-weight: 800

                &.origin
                  font-weight: 400
                  font-size: rem(14)
                  color: rgba($hex-dark, .7)

              time
                display: flex
                align-items: center
                gap: rem(7)
                margin-top: rem(3)
                font-size: rem(14)
                font-weight: 400
                line-height: 1
                color: $hex-dark

            em
              display: block
              font-size: rem(14)
              font-style: normal
              color: $hex-accent

        .info
          display: flex
          flex-direction: column
          gap: rem(3)

          > div
            display: inline-flex
            gap: rem(7)

          dt, dd
            font-size: rem(14)

          dt
            width: rem(70)
            color: $hex-accent
            white-space: nowrap

          dd
            +col
            font-weight: 800
            color: $hex-dark

        .poster
          &.posters-game img
            aspect-ratio: 460 / 215

          &.posters-other img
            aspect-ratio: 390 / 560

          img
            width: 100%
            height: auto
            object-fit: cover

    .comment, .posters
      margin-top: rem(17)

    .title, .comment, .posters
      display: flex
      flex-direction: column
      gap: rem(7)

      h2
        display: flex
        align-items: center
        gap: rem(7)
        font-size: rem(20)
        font-weight: 800

        &::before
          content: ''
          display: inline-flex
          background-color: $hex-accent
          border-radius: rem(3)
          width: rem(5)
          height: rem(20)

    .comment, .posters
      p
        background-color: rgba($hex-accent, .05)
        border-radius: rem(3)
        padding: rem(12)
        font-size: rem(14)
        font-weight: 700
        line-height: 1.375

        +mq(minSmall)
          font-size: rem(16)

    .posters
      .poster-list
        display: flex
        gap: rem(12)

        &.posters-game img
          aspect-ratio: 460 / 215

        &.posters-other img
          aspect-ratio: 390 / 560

        .poster
          width: calc(50% - rem(6))

          img
            width: 100%
            height: auto
            object-fit: cover

@keyframes loading
  0%
    background-position: 200% 0

  100%
    background-position: -200% 0
