@import './designSystem'

.usage
  display: flex
  justify-content: center
  gap: rem(25)

  .content
    display: flex
    flex-direction: column
    gap: rem(52)
    width: 100%

    .about
      display: flex
      flex-direction: column
      align-items: center

      section
        display: flex
        width: 100%
        padding: rem(52) rem(27)

        &:not(.amusement)
          justify-content: center
          align-items: center
          padding: rem(52) rem(27)
          min-height: calc(100vh - rem(78))

          > div
            width: 100%

          img
            max-width: 100%
            height: auto
            object-fit: contain

        &:nth-of-type(1)
          background: url('/about/primary.webp') no-repeat fixed 50% 50%/cover

          &.safari
            background-attachment: scroll

        &:nth-of-type(3), &:nth-of-type(5)
          background-color: $hex-light

        .primary
          display: flex
          flex-direction: column
          gap: rem(37)

          h1
            display: flex
            flex-direction: column
            align-items: center
            gap: rem(27)

            span
              font-size: rem(24)
              line-height: 1
              color: $hex-white
              font-variation-settings: "opsz" 900,"wght" 900

              +mq(minSmall)
                font-size: rem(32)

              +mq(minMedium)
                font-size: rem(64)

              em, i
                font-style: normal

              em
                color: $hex-azalea

              i
                color: $hex-accent

            > i
              display: inline-block
              aspect-ratio: 370 / 105
              width: rem(123)

              +mq(minSmall)
                width: rem(187)

              +mq(minMedium)
                width: rem(370)

          p
            display: flex
            flex-direction: column
            align-items: center
            font-size: rem(14)
            line-height: 1.541
            color: $hex-light

            +mq(minSmall)
              font-size: rem(20)

            +mq(minMedium)
              font-size: rem(24)

        .soul
          .image
            display: flex
            justify-content: center

            img
              aspect-ratio: 570 / 436

        .fit
          .image
            img
              aspect-ratio: 570 / 433

        .life
          margin: 0 auto
          max-width: rem(1320)

          .images
            display: flex
            gap: rem(23)

            +mq(maxExtraSmall)
              flex-direction: column

            .image
              display: flex
              justify-content: center

              +mq(minSmall)
                width: calc(33.33% - rem(23))

              img
                width: 100%
                height: auto
                object-fit: contain
                aspect-ratio: 430 / 570

        .amusement
          margin: 0 auto
          max-width: rem(1320)

          .headline
            h2
              width: 100%
              font-size: rem(24)!important
              font-variation-settings: "opsz" 900,"wght" 900

              +mq(minSmall)
                font-size: rem(32)!important

          .images
            display: flex
            flex-wrap: wrap
            gap: rem(23)

            .image
              display: flex
              flex-direction: column
              gap: rem(7)
              width: calc(50% - rem(12))
              padding-bottom: rem(7)

              +mq(minSmall)
                gap: rem(7)
                width: calc(25% - rem(18))
                padding-bottom: rem(12)

              img
                display: block
                width: 100%
                height: auto
                aspect-ratio: 390 / 560
                object-fit: cover

              span
                font-size: rem(14)

                +mq(minSmall)
                  font-size: rem(16)

                +mq(minMedium)
                  font-size: rem(20)

        > div:not(.primary)
          display: flex
          flex-direction: column
          gap: rem(37)

          +mq(minSmall)
            gap: rem(72)

          .headline
            display: flex
            flex-direction: column
            align-items: center
            gap: rem(37)

            h2
              font-size: rem(24)
              line-height: 1

              +mq(minSmall)
                font-size: rem(32)

              +mq(minMedium)
                font-size: rem(64)

            p
              display: flex
              flex-direction: column
              align-items: center
              font-size: rem(14)
              line-height: 1.54

              +mq(minSmall)
                font-size: rem(16)

              +mq(minMedium)
                font-size: rem(24)

            em
              font-size: rem(14)
              line-height: 1

              +mq(minMedium)
                font-size: rem(16)

    .container
      display: flex
      flex-direction: column
      gap: rem(52)
      margin: rem(17) 0
      padding: 0 rem(27) rem(57)

      article
        display: flex
        flex-direction: column
        gap: rem(37)

        +mq(minMedium)
          gap: rem(52)
          margin: rem(52) 0

      h2
        font-size: rem(20)
        text-align: center

        +mq(minSmall)
          font-size: rem(32)

        +mq(minMedium)
          font-size: rem(64)

      section
        display: flex
        flex-direction: column
        gap: rem(7)

      p
        display: flex
        flex-direction: column
        font-size: rem(14)
        line-height: 1.3
        color: $hex-dark
        text-align: center

        +mq(minSmall)
          font-size: rem(16)

        +mq(minMedium)
          font-size: rem(24)

      .button-group
        display: flex
        justify-content: center
        align-items: center
        margin: rem(32) 0
        gap: rem(12)
        text-align: center

        +mq(minMedium)
          flex-direction: row
          margin: rem(52) 0 rem(32)

        a, button
          display: inline-flex
          background-color: transparent
          width: rem(170)
          justify-content: center
          border: rem(1) solid $hex-accent
          border-radius: rem(3)
          padding: rem(12) rem(32)
          font-size: rem(16)
          font-weight: 700
          line-height: 1
          color: $hex-accent
          transition: all .3s cubic-bezier(.4,0,.2,1)

          +mq(minMedium)
            width: auto
            padding: rem(17) rem(52)
            font-size: rem(20)

          &:hover, &:focus
            background-color: $hex-accent
            color: $hex-light
